<!doctype html>
<html lang="en">
    <head>
        <title>Components</title>
        <!-- META Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
        <meta name="description" content="Bitcoin Management Software">
        <meta name="author" content="Nick Winans">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css?v=1.5"> 
        <!-- JS Scripts -->
        <script src="/js/scripts.js?v=1.5"></script>
        <script src="/js/sha256.js"></script>

        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png?v=2">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2">
        <link rel="manifest" href="/site.webmanifest?v=2">
        <link rel="mask-icon" href="/safari-pinned-tab.svg?v=2" color="#5bbad5">
        <link rel="shortcut icon" href="/favicon.ico?v=2">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <div class="header sticky">
            <button class="side-nav-btn left" onclick="openNav()">&#9776;</button>
            <h1 id="title" class="headertext">Components</h1>
            <h1 id="ttr" onmouseover="refreshmouseover()" onmouseout="resetrefresh()" onclick="refreshData()" class="refreshtext">30s</h1>
        </div>

        <div class="side-nav" id="side-nav-container">
            <div class="header appnameheader">
                <img width="48px" height="48px" src="/images/bitcoin.svg" class="appicon">
                <h2 class="apptitle">Mining Info</h2>
            </div>
            <div class="navlinks">
                <nav>
                    <ul>
                        <li onclick="location.href='/'"><img width="32px" height="32px" src="/images/home.svg"></img><span class="nav">Dashboard</span></li>                        
                        <li onclick="location.href='/coinbase/'"><img width="32px" height="32px" src="/images/wallet.svg"></img><span class="nav">Coinbase</span></li>
                        <li onclick="location.href='/nicehash/'"><img width="32px" height="32px" src="/images/mining.svg"></img><span class="nav">Nicehash</span></li>
                        <li onclick="location.href='/rigstats/'"><img width="32px" height="32px" src="/images/gpu.svg"></img><span class="nav">GPU Info</span></li>
                        <li class="selected" onclick="location.href='/components/'"><img width="32px" height="32px" src="/images/motherboardselected.svg"></img><span class="nav">Components</span></li>
                        <li onclick="location.href='/changelog/'"><img width="32px" height="32px" src="/images/checklist.svg"></img><span class="nav">Changelog</span></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="wrapper">    
            <div class="contentleft">
                <div class="card-snapshot">
                    <div class="container">
                        <p class="title card-snapshot-title">Spent</p>
                        <h2 class="card-snapshot-data" id="spent"></h2>
                    </div>
                </div>
            </div>   
            <div class="contentcenter">
                <div class="card-snapshot">
                    <div class="container">
                        <p class="title card-snapshot-title">Earned</p>
                        <h2 class="card-snapshot-data" id="earned"></h2>
                    </div>
                </div>
            </div>
            <div class="contentright">
                <div class="card-snapshot">
                    <div class="container">
                        <p class="title card-snapshot-title">Left (Overall)</p>
                        <h2 class="card-snapshot-data" id="left"></h2>
                    </div>
                </div>
            </div>    
            <div class="dataright">
                <div class="card-snapshot">
                    <div class="container">
                        <p class="title card-snapshot-title" id="leftcomptitle">Left ()</p>
                        <h2 class="card-snapshot-data" id="leftcomp"></h2>
                    </div>
                </div>
            </div>
            <div class="dataleft">
                <div class="card">
                    <div class="container">
                        <h3>Current Gear</h3>
                        <p id="currentgear"></p>
                    </div>
                </div>
                <div class="card"> 
                    <div class="container">
                        <h3>Planned Upgrades</h3>
                        <p id="futuregear"></p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            refreshData();
            window.setInterval(refreshData, 30*1000);
            window.setInterval(updateTimer, 1*1000);
        </script>

    </body>
</html>
